*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    background-color: #A52222;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    align-items: center;
    height: 5vh;
}

nav > p{
    color: #FFFFFF;
    font-family: 'montserrat';
    font-weight: 900;
}
nav > ul{
    display: flex;
    width: 30%;
    justify-content:space-evenly;
}

nav > ul > li{
    list-style: none;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-family: 'poppins';

    letter-spacing: 2px;
}

nav > ul > li > p{
    padding-left: 10px;
}

.nav-contact{
    display: flex;
    align-items: center;
}
.nav-contact > p{
    padding-left: 10px;
    font-family: 'poppins';
    color: #FFFFFF;
    letter-spacing: 3px;
    
}

.close-button{
    display: none;
}

.hamburger-menu{
    display: none;
}

/* ----------------- HERO ----------------- */

.hero{
    display: flex;
    justify-content:space-between;
    height: 95vh;
}

.hero > main{
    width: 50%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.instagram-hero{
    width: 24px;
    height: 24px;
}

.hero > main > h1{
    font-family: 'roboto';
    color: #9D1111;
    font-size:140px;
    font-weight: 600;
}
.subtitle-hero{
    font-family:'montserrat';
    font-size: 30px;
    color: #444444;
    margin-top: -25px;
    letter-spacing: 5px;
}
.subtext-hero{
    color: #636363;
    font-family:'roboto';
    font-size: 15px;
   
    margin-bottom: 35px;
}
.hero > main > button{
    font-family:'montserrat';
    width: 40%;
    padding: 15px;
    border-radius: 6px;
    font-size: 30px;
    border: none;
}

.hero  > main > div{
    width: 40%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.hero > main > div > img{
    margin-bottom: -100px;
}


/* --------- SERVICES ----------- */

.services{
    background-color: #F3F3F3;
    display: flex;
    justify-content: space-evenly;
    height: 60vh;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 20%;
    height: 60%;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(125,125,125,1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(125,125,125,1);
    box-shadow: 0px 5px 5px 0px rgba(125,125,125,1);
}

.card > img{
    padding-top: 10px;
}

.commercial-icon{
    height: 55px;
}

.card > h1{
    text-align: center;
    font-family: 'montserrat';
    color: #303030;
    font-size: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.card > a{
    text-align: center;
    color: #9D1111;
    text-decoration: none;
    font-family: 'montserrat';
    font-weight: bold;
}

.card > p{
    color: #8A8A8A;
    font-size: 18px;
    font-family: 'montserrat';
    width: 80%;
    margin: 0 auto;
    padding-bottom: 25px;
}

/* ------ PORTFOLIO    --------- */

.portfolio{
    height: 70vh;
}
.portfolio-heading{
    padding-top: 30px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.seperator{
    background-color: #E0E0E0;
    height: 1px;
    width: 32%;
}

.portfolio-header-text{
    font-family: 'montserrat';
    color: #919191;
    font-weight: 100;
    letter-spacing: 4px;
    font-size: 36px;
}
.portfolio-header-subtext{
    color: #960B0B;
    font-family: 'montserrat';
    font-size: 48px;
    margin-top: -10px;
}
.portfolio-row{
  text-align: center;
}
.portfolio-row > img{
    width: 250px;
    padding: 15px;
}
.portfolio-items-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/* ----- REVIEWS -------- */

.reviews{
    background-color: #F3F3F3;
    height: 60vh;
}
.review-card-header > img{
    width: 50px;
    object-fit:cover;
    height: 50px;
    border-radius: 100%;
   
}

.reviewsheader{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding-top: 30px;
}

.review-header-seperator{
    background-color: #E0E0E0;
    height: 1px;
    width: 60%;
}
.reviews-header-title > h1{
    color: #919191;
    font-family: 'montserrat';
    font-weight: 100;
    font-size: 36px;
    letter-spacing: 4px;
}

.reviews-header-title > h2{
    color: #960B0B;
    font-family: 'montserrat';
    font-weight: 900;
    font-size: 48px;
    margin-top: -10px;
}

.review-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 25%;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(125,125,125,1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(125,125,125,1);
    box-shadow: 0px 5px 5px 0px rgba(125,125,125,1);
}

.review-card > h1{
    color: #303030;
    font-family: 'montserrat';
    font-size: 18px;
}

.review-card-seperator{
    background-color: #E0E0E0;
    height: 1px;
    width: 30%;
}
.review-card > p{
    padding: 20px;
}
.review-card-header{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content:space-around;
    padding-top: 25px;
}

.review-text{
    color: #919191;
    font-family: 'montserrat';
    font-size: 14px;

}

.article-container{
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
}

 /* ----- sUPPLIES ------ */

 .supplies{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 60vh;
     
 }
 .supplies-slider > img{
     width: 100px;
     height: 100px;
     
 }
 .supplies-slider{
     display: flex;
     width: 50%;
     justify-content: space-evenly;
     padding-top: 100px;
 }

 .supplies-header{
     
 }
 .supplies-header > h1{
     font-family: 'montserrat';
     color: #960B0B;
     font-weight: 900;
     font-size: 48px;
     padding-bottom: 5px;
     text-align: center;
 }
 .supplies-header > p{
    font-family: 'montserrat';
    color: #8A8A8A;
    font-size: 18px;
    max-width: 67%;
    margin: 0 auto;
 }


  /* ------ CONTACT  ----- */

  .contact-header > h1{
    font-family: 'montserrat';
    color: #919191;
    font-size: 36px;
    font-weight: 100;
    letter-spacing: 4px;
    margin-left: 2.5%;
  }
  .contact-header{
      padding-top: 30px;
      padding-bottom: 20px;
  }

  .contact-header-sep-container > p{
      margin-top: -10px;
      font-family: 'montserrat';
      color: #960B0B;
      font-weight: 900;
      font-size: 48px;
  }

  .contact-header-sep-container{
      display: flex;
      align-items: center;
      justify-content: space-around;
  }
  .contact-header-seperator{
    background-color: #E0E0E0;
    height: 1px;
    width: 40%;
  }

  .contact-info-methods{
      margin-left: 12%;
  }

  .contact-content{
      display: flex;
      height: 50vh;
  }

  .contact-phone-container{
      display: flex;
      align-items: center;
      font-family: 'montserrat';
      color: #737373;
      padding-bottom: 10px;
  }
  .contact-phone-container > p{
    padding-left: 5px;
  }
  .contact-email-container > p{
      padding-left: 5px;
  }
  .contact-location-container > p{
      padding-left: 5px;
  }

  .contact-email-container{
      display: flex;
      align-items: center;
      font-family: 'montserrat';
      color: #737373;
      padding-bottom: 10px;
  }
  .contact-location-container{
      display: flex;
      align-items: center;
      max-width: 100%;
      font-family: 'montserrat';
      color: #737373;
  }

  .contact-hours-mf{
      text-align: center;
  }
  .contact-hours-mf > h2{
      font-family: 'montserrat';
      color: #303030;
      letter-spacing: 1px;
      font-weight: 500;
  }
  .contact-hours-mf > p{
      font-family: 'montserrat';
      color: #960B0B;
      font-size: 14px;
      font-weight: 500;
  }

  .contact-hours-ss > h2{
    font-family: 'montserrat';
    color: #303030;
    letter-spacing: 1px;
    font-weight: 500;
  }

  .contact-hours-ss > p{
    font-family: 'montserrat';
    color: #960B0B;
    font-size: 14px;
    font-weight: 500;
  }

  .contact-hours-ss{
      padding-top: 20px;
      text-align: center;
  }

  .contact-form-header{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .contact-form-header > h1{
      font-family: 'montserrat';
      color: #303030;
      font-size: 48px;
  }
  .contact-form-header > p{
      font-family: 'montserrat';
      font-size: 18px;
      color: #8A8A8A;
  }
  .contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    width: 75vw;;
  }
  .contact-form > form > button{
   text-align: center;
  }

  .textarea-container{
      text-align: center;
      padding-top: 30px;

  }
  .textarea-container > textarea{
      width: 100%;
  }
  .form-btn-container{
      text-align: center;
  }

  .form-btn-container > button{
      background-color: #960B0B;
      color: white;
      width: 40%;
      padding: 5px;
      font-family: 'montserrat';
      font-size: 24px;
      letter-spacing: 5px;
      border: none;
      border-radius: 3px;
      -webkit-box-shadow: 0px 5px 5px 0px rgba(125,125,125,1);
      -moz-box-shadow: 0px 5px 5px 0px rgba(125,125,125,1);
      box-shadow: 0px 5px 5px 0px rgba(125,125,125,1);
  }

  .contact-info{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
  }

  .contact{
      height: 100%;
      background-color: #F3F3F3;
  }

  .contact-form > form{
      padding-top: 30px;
  }

  .contact-form > form > input{
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid grey;
      background-color: #F3F3F3;
  }
  .contact-form > form > div > textarea{
    background-color: #F3F3F3;
}

  ::placeholder{
    font-family: 'montserrat';
    color: #C8C8C8;
}

.contact-content > hr{
    border-color: #E0E0E0;

}

.contact-seperator{
    background-color: #E0E0E0;
    width: 1px;
    height: 90%;
}
/* ------ responsive   ----- */

@media only screen and (max-height: 875px) {
    .card{
        height: 75%;
    }
    .portfolio{
        height: 80vh;
    }

    .reviews{
        height: 75vh;
    }
    .supplies{
        height: 70vh;
    }
    .contact-header > h1{
        margin-left: 1.3%;
    }
  }

  @media only screen and (max-width: 1550px) {
      .contact-form{
          width: 65vw;
      }
}

  @media only screen and (max-width: 1400px) {
      .contact-header-sep-container > p{
        margin-left: 2.5%;
        font-size: 40px;
      }
      .card{
          height: 70%;
          width: 25%;
      }
      .hero > img{
          width: 50%;
      }
  }

  
  @media only screen and (max-width: 1300px) {
      .supplies-slider{
          width: 65%;
      }
      .portfolio-header-subtext{
          font-size: 40px;
      }
      .portfolio-header-text{
          font-size: 30px;
      }
      .contact-header-sep-container > p{
        font-size: 30px;    
      }
      .contact-header > h1{
          font-size: 25px;
      }
      .contact-header-sep-container{
          margin-top: 3px;
      }
      .supplies-header > h1{
          font-size: 40px;
      }
      .supplies-header > p{
          font-size: 20px;
          text-align: center;
      }
      nav > ul{
          width: 50%;
      }
}


  
@media only screen and (max-width: 1160px) {
    .reviews-header-title{
        margin-left: 1.5%
    }
    .reviews-header-title > h2{
        font-size: 40px;
    }
    .reviews-header-title > h1{
        font-size: 30px;
    }
    .portfolio{
        height: 85vh;
    }
    .contact-form{
        width: 60vw;
    }
    .hero > main > h1{
        font-size: 120px;
    }
    .subtitle-hero{
        font-size: 24px;
    }
}

@media only screen and (max-width: 1050px) {
    .reviews{
        height: 75vh;
    }
    .review-card{
        width: 30%;
    }
    .portfolio-header-subtext{
        font-size: 30px;
    }
    .portfolio-header-text{
        font-size: 23px;
    }
    .reviews-header-title > h1{
        font-size: 23px;
    }
    .reviews-header-title > h2{
        font-size: 30px;
    }
}


@media only screen and (max-width: 990px) {
    .contact-form{
        width: 55vw;
    }
    .card{
        width: 30%;
        height: 60%;
    }
    .card > h1{
        font-size: 25px;
    }
    .card > p{
        font-size: 16px;
    }
    .reviews-header-title > h1{
        font-size: 30px;
    }
    .reviews-header-title > h2{
        font-size: 35px;
    }
    .supplies-slider{
        width: 80%;
    }
    .contact-form-header > h1{
        font-size: 40px;
    }
    .contact-form-header > p{
        font-size: 15px;
    }
    form{
        width: 75%;
    }
}


@media only screen and (max-width: 920px) {
    .hero > img{
        width: 45%;
    }
    .hero > main > h1{
        font-size: 90px;
    }
    .subtitle-hero{
        padding-top: 5px;
        font-size: 20px;
    }
    .subtext-hero{
        font-size: 13px
    }
    .hero > main > button{
        width: 50%;
        padding: 5px;
        font-size: 20px;
    }
    .hero > main > div{
        width: 60%;
    }
    .supplies-header > h1{
        font-size: 35px;
    }
    .supplies-header > p{
        font-size: 15px;
    }
    .contact-header-sep-container > p{
        font-size: 25px;
    }
    .contact-header > h1{
        font-size: 20px;
        margin-left: 5%;
    }
    .reviews-header-title > h1{
        font-size: 23px;
    }
    .reviews-header-title > h2{
        font-size: 30px;
    }
}

@media only screen and (max-width: 870px) {
    .portfolio{
        height: 70vh;
    }
    .portfolio-row > img{
        width: 200px;
    }
}

@media only screen and (max-width: 850px) {
    .contact-form-header > h1{
        font-size: 30   px;
    }
    .contact-form-header > p{
        font-size: 13px;
    }
    .contact-form{
        width: 50vw;
    }
    .contact-form > form{
        text-align: center;
    }
    .hero > img{
        display: none;
    }
    .hero > main{
        width: 100%;
    }
    .hero > main > h1{
        font-size: 130px;
    }
    .subtitle-hero{
        font-size: 25px;
    }
    .subtext-hero{
        font-size: 15px;
        
    }
    .hero{
        background-image: url('./heromobilebg.svg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .services{
        flex-direction: column;
        height: 100%;
        padding-bottom: 50px;
    }
    .card{
        margin-top: 50px;
        width: 75%;
        height:100%;
    }
    .card > a{
        padding-bottom: 15px;
    }
    .seperator{
        width: 25%;
    }
    .article-container{
        flex-direction: column;
        align-items: center;
    }
    .reviews{
        height: 100%;
    }
    .review-card{
        width: 75%;
        margin-bottom: 40px;
    }

    /*---- mobile nav ----- */

    header > nav > p{
            position: absolute;
            left: 10px;
            z-index:1000;
    }

    header > nav > ul{
        margin-top: 60%;
        height: 70vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: #A52222;
        position: absolute;
        width:100%;
        display: none;
    }

    header > nav > ul > li {
        color: white;
    }
    .nav-contact{
        position: absolute;
    }

    header > nav{
        justify-content: center;
    }

    .hamburger-menu{
        position: absolute;
        z-index: 1000;
        right: 15px;
        top: 11px;
        display: block;
    }
    .burger{
        width: 30px;
        background-color: white;
        height: 3px;
        margin-bottom: 5px;
    }
    nav{
        height: 40px;
    }

    .nav-contact > p{
        padding-left: 5px;
    }
    .nav-contact{
        display: none;
    }
    .close-button{
        width: 30px;
        height: 24px;
        position: absolute;
        right: 15px;
        z-index: 1000;
    }
}

@media only screen and (max-width: 775px) {
    .contact-content{
        flex-direction: column;
        height: 100%;
    }
    .contact-info{
        flex-direction: row;
    }
    .contact-info-methods{
        margin-left: 5%;
    }
    .contact-form{
        width: 100%;
    }
    .contact-seperator{
        width: 90%;
        height: 1px;
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .contact-header-sep-container > p{
        font-size: 20px;
        margin-top: -6px;
    }
    .contact-header > h1{
        font-size: 15px;
    }
    .contact-phone-container{
        font-size: 15px
    }
    .contact-email-container{
        font-size: 15px;
    }
    .contact-location-container{
        font-size: 15px;
    }
    .contact-hours-mf > h2{ 
        font-size: 18px;
    }
    .contact-hours-mf > p{
        font-size: 13px;
    }
    .contact-hours-ss > p{
        font-size: 13px;
    }
    .contact-hours-ss > h2{
        font-size: 18px;
    }
    .supplies-slider{
        width: 100%;
    }
    .review-header-seperator{
        width: 50%;
    }
}

@media only screen and (max-width: 720px) {
    .portfolio{
        height: 100%;
    }
}

@media only screen and (max-width: 670px) {
    .supplies-slider :nth-child(5){
        display: none;
    }
    .contact-location-container > p{
        max-width: 75%;
    }
    .contact-header-seperator{
        width: 30%;
    }
}


@media only screen and (max-width: 660px) {
    .seperator{
        width: 15%;
    }
    .review-header-seperator{
        width: 35%;
    }
}

@media only screen and (max-width: 550px) {
    .contact-header-seperator{
        width: 20%;
    }
    .hero > main > h1{
        font-size: 100px;
    }
    .subtitle-hero{
        font-size: 20px;
    }
    .subtext-hero{
        font-size: 13px;
    }
    .supplies-slider > img{
        width: 50px;
        height: 50px;
    }
    .supplies{
        height: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media only screen and (max-width: 500px) {
    .contact-header-seperator{
        display: none;
    }
    .contact-header > h1{
        margin-left: 15%;
    }
    .contact-form-header > h1{
        font-size: 30px;
    }
    .review-header-seperator{
        width: 25%;
    }
}

@media only screen and (max-width: 450px) {
    .seperator{
        display: none;
    }
    .portfolio-header-text{
        font-size: 20px;
    }
    .portfolio-row > img{
        width: 300px;
        border-radius: 20px;
    }
    .review-header-seperator{
        display: none;
    }
}

@media only screen and (max-width: 420px) {
    .hero > main > h1{
        font-size: 85px;
    }
    .subtitle-hero{
        font-size: 15px;
        padding-top: 10px;
    }
    .subtext-hero{
        font-size: 10px;
    }
    .services > .card > h1{
        font-size: 22px;
    }
    .services > .card > p{
        font-size: 14px;
    }
}

@media only screen and (max-width: 380px) {
    .contact-header-seperator{
        display: none;
    }
    .contact-header > h1{
        margin-left: 13px;
    }
    .contact-header-sep-container > p{
        font-size: 18px;
    }
    .contact-header > h1{
        font-size: 13px;
    }
}